
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Identity
@using BlogApp.Web.Models

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" asp-page-handler="AddWebPost">
        <div class="form-group">
            <p>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</p>
            <textarea asp-for="WebPost.Contents" class="form-control"></textarea>
            <span asp-validation-for="WebPost.Contents" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Add Post</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Contents</th>
                <th>Posted By</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @if (User.IsInRole("admin"))
            {
                @foreach (var post in Model.WebPosts)
                {
                    <tr>
                        <td>@post.Contents</td>
                        <td>@post.ApplicationUser.FirstName @post.ApplicationUser.LastName</td>
                        <td>@post.DateTimeOfPost</td>
                        <td>
                            <a asp-page="/EditHistory" asp-route-id="@post.Id" class="btn btn-primary">Edit History</a>
                            @if(post.ApplicationUserId == Model.CurrentUser.Id)
                            {
                                <a asp-page="/Edit" asp-route-id="@post.Id" class="btn btn-primary">Edit</a>
                            }
                        
                            <form method="post" asp-page-handler="Delete" asp-route-id="@post.Id">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <strong>Comments:</strong>
                            <ul>
                                @foreach (var comment in post.Comments)
                                {
                                    <li>
                                        <p>@comment.ApplicationUser.FirstName @comment.ApplicationUser.LastName: @comment.Text</p>
                                        <small>@comment.CreatedAt</small>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="post" asp-page-handler="AddComment">
                                <input type="hidden" name="webPostId" value="@post.Id" />
                                <div>
                                    <textarea asp-for="Comment.Text" class="form-control"></textarea>
                                    <span asp-validation-for="Comment.Text" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Add comment</button>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                @foreach (var post in Model.WebPosts)
                {
                    <tr>
                        <td>@post.Contents</td>
                        <td>@post.ApplicationUser.FirstName @post.ApplicationUser.LastName</td>
                        <td>@post.DateTimeOfPost</td>
                        <td>
                            <a asp-page="/EditHistory" asp-route-id="@post.Id" class="btn btn-primary">Edit History</a>
                        @if (post.ApplicationUserId == Model.CurrentUser.Id) 
                        {
                                <a asp-page="/Edit" asp-route-id="@post.Id" class="btn btn-primary">Edit</a>
                                <form method="post" asp-page-handler="Delete" asp-route-id="@post.Id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                        }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Comments:</strong>
                            <ul>
                                @foreach (var comment in post.Comments)
                                {
                                    <li>
                                        <p>@comment.ApplicationUser.FirstName @comment.ApplicationUser.LastName: @comment.Text</p>
                                        <small>@comment.CreatedAt</small>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="post" asp-page-handler="AddComment">
                                <input type="hidden" name="webPostId" value="@post.Id" />
                                <div>
                                    <textarea asp-for="Comment.Text" class="form-control"></textarea>
                                    <span asp-validation-for="Comment.Text" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Add comment</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
        </table>
        
}
else
{
    <div class="text-center">
        <h3>You need to log in to see the contents</h3>
        <p><a asp-area="Identity" asp-page="Account/Register">Register</a><p />
        <p><a asp-area="Identity" asp-page="Account/Login">Log in</a><p />
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}